@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton-loader {
	background: #ff902a;
	border-radius: 4px;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.link-button {
	@apply font-semibold text-lg text-secondary hover:text-primary transition duration-300;
}

/* Custom scrollbar */
::-webkit-scrollbar {
	width: 6px; /* Width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
	background-color: #f6ebda; /* background */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
	background-color: #ff902a; /* primary */
	border-radius: 6px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: #2f2105; /* secondary */
}

/* Optional: Scrollbar corner */
::-webkit-scrollbar-corner {
	background-color: #f9d9aa; /* tertiary */
}
